:root {
  --area-color: #e2deed;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--area-color);
  padding: 24px;
  border-radius: 4px;
  font-size: large;
  min-width: 280px;

  .status-container,
  .time-container {
    display: flex;
    margin-bottom: 24px;

    > * {
      margin-right: 12px;
    }
  }

  .connection-status {
    &.disconnected {
      color: red;
    }

    &.connected {
      color: green;
    }
  }
}
